<section id="auth" [formGroup]="form">
  <mat-form-field>
    <mat-label>Benutzername</mat-label>
    <input matInput formControlName="username" (keyup.enter)="auth()" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input type="password" matInput formControlName="password" (keyup.enter)="auth()" />
  </mat-form-field>

  <button type="button" mat-flat-button [disabled]="form.invalid || isFetching()" (click)="auth()">
    @if (action() === "login") {
      Anmelden
    } @else {
      Registrieren
    }
  </button>
</section>
