{
  "printWidth": 100,
  "singleQuote": false,
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
