<section id="recipe-create" [formGroup]="form">
  <h1 style="margin-bottom: 25px">{{ submitButtonName() }}</h1>

  @if (action() === "edit" && !recipe()) {
    <i>Kein Rezept gefunden</i>
  } @else {
    <div style="display: flex; flex-direction: column; gap: 10px">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kategorie</mat-label>
        <mat-select formControlName="category">
          @for (category of categories(); track $index) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <h3>Zutaten</h3>

      <div formArrayName="ingredients" style="display: flex; flex-direction: column; gap: 10px">
        @for (
          ingredient of form.controls["ingredients"].controls;
          track ingredient;
          let i = $index
        ) {
          <div [formGroupName]="i" class="test">
            <mat-form-field>
              <mat-label>Anzahl</mat-label>
              <input matInput type="number" formControlName="amount" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Einheit</mat-label>
              <mat-select formControlName="unitId">
                @for (unit of units(); track $index) {
                  <mat-option [value]="unit.id">
                    {{ unit.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>

            <div style="display: flex; gap: 10px">
              @if (form.controls.ingredients.length > 1) {
                <button mat-fab aria-label="Löschen" (click)="removeIngredient(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              }

              <button mat-fab aria-label="Zutat hinzufügen" (click)="addIngredient()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        }
      </div>

      <h3>Schritte</h3>

      <div formArrayName="steps">
        @for (step of form.controls["steps"].controls; track step; let i = $index) {
          <div [formGroupName]="i" style="display: flex; gap: 10px">
            <mat-form-field style="width: 500px; min-width: 100px">
              <mat-label>Schritt {{ i + 1 }}</mat-label>
              <textarea matInput formControlName="text"></textarea>
            </mat-form-field>

            @if (form.controls.steps.length > 1) {
              <button mat-fab aria-label="Löschen" (click)="removeStep(i)">
                <mat-icon>delete</mat-icon>
              </button>
            }

            <button mat-fab aria-label="Schritt hinzufügen" (click)="addStep()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        }
      </div>

      <div style="display: flex; gap: 10px; margin-bottom: 25px">
        @if (form.controls.image.value; as image) {
          <img [src]="image" (error)="onImageError()" style="width: 200px; border-radius: 4px" />
        }

        <button type="button" mat-raised-button (click)="fileInput.click()">Bild auswählen</button>

        <input
          hidden
          (change)="onFileSelected()"
          #fileInput
          type="file"
          style="display: none; overflow: hidden" />
      </div>

      <button
        type="button"
        mat-flat-button
        [disabled]="form.invalid || isFetching()"
        (click)="submitForm()">
        {{ submitButtonName() }}
      </button>
    </div>
  }
</section>
