.recipe {
  max-width: 300px;
  min-width: 300px;

  cursor: pointer;

  img {
    object-fit: cover;
    height: 250px;
  }

  span.headline {
    font-size: 20px;
    padding: 10px 10px 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  small {
    padding: 0 10px 15px 10px;
    font-size: 12px;
    color: grey;
  }
}
