<mat-card class="recipe" appearance="outlined" (click)="onClickRecipe.emit(recipe().id)">
  <img mat-card-image [src]="recipe().image" loading="lazy" (error)="onImageError($event)" />

  <span class="headline">{{ recipe().name }}</span>
  <small>{{ recipe().category?.name }} - {{ recipe().userName }}</small>

  <!-- <mat-card-actions>
    <button
      mat-icon-button
      [disabled]="user()?.name !== recipe().userName"
      (click)="$event.stopPropagation(); onClickEditRecipe.emit(recipe().id)">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="user()?.name !== recipe().userName"
      (click)="$event.stopPropagation(); onClickDeleteRecipe.emit(recipe().id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions> -->
</mat-card>
