@if (isLoading()) {
  <app-loading></app-loading>
} @else {
  <section id="filter">
    <mat-chip-listbox (change)="onClickChipCategory($event)">
      @for (category of categories(); track $index) {
        <mat-chip-option [value]="category.id">{{ category.name }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </section>

  <section id="recipes">
    @for (recipe of extendedRecipe(); track $index) {
      @if (recipe.category) {
        <app-recipe
          [recipe]="recipe"
          [user]="user()"
          (onClickRecipe)="onClickRecipe($event)"
          (onClickEditRecipe)="onClickEditRecipe($event)"
          (onClickDeleteRecipe)="onClickDeleteRecipe($event)"></app-recipe>
      }
    }
  </section>

  <section id="menu">
    <button mat-fab aria-label="Menue" (click)="onClickMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>

  @if (user()) {
    <section id="create-recipe">
      <button mat-fab aria-label="Erstellen" (click)="onClickCreateRecipe()">
        <mat-icon>add</mat-icon>
      </button>
    </section>
  }
}
