#filter {
  display: flex;
  justify-content: center;

  mat-chip-listbox {
    display: flex;
  }

  padding: 10px;
}

#recipes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 10px 100px 10px 100px;
}
