#filter {
  display: flex;
  justify-content: center;

  mat-chip-listbox {
    display: flex;
  }

  padding: 10px;
}

#recipes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px 100px;
}

#create-recipe {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

#menu {
  position: fixed;
  bottom: 25px;
  left: 25px;
}

@media only screen and (max-width: 810px) {
  #recipes {
    padding: 10px 35px;
  }
}

@media only screen and (max-width: 500px) {
  #create-recipe {
    bottom: 10px;
    right: 10px;
  }

  #menu {
    bottom: 10px;
    left: 10px;
  }
}
